{% extends 'base.html' %}

{% block 'content' %}

<div class="container">
    <div class="row pb-3">
      <div class="col">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>
            Bienvenido {{user.get_username}}
          </h2>
          <p>
            Tenemos una lista de productos exclusivos para ti. ¿Quieres conocer más?
          </p>
          <a href="{% url 'contacto' %}" class="btn btn-outline-light">
            Contáctanos
          </a>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for flan in private_flans %}

      <div class="col">
        <div class="card h-100">
          <img src="{{ flan.image_url }}" class="card-img-top" style="height: 13em" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ flan.name }}</h5>
            <p class="card-text">{{ flan.description }}</p>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item ms-auto">
                <h3 class="card-text number">{{ flan.price }}</h3>
              </li>
            </ul>
          </div>
      </div>
      {% endfor %}
    </div>

</div>
{% endblock %}
